.second,
body {
  font-family: "Roboto", sans-serif;
  background-image: url(../img/background/food.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}
.second {
  background-image: url(../img/background/bg.jpg);
}
a {
  text-decoration: none;
  color: #000000;
}
button,
input {
  border: 0;
  outline: 0;
}
.container {
  max-width: 1110px;
  margin: 0 auto;
}

.header {
  padding-top: 10px;
}
.header__inner {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  align-items: center;
}
.logo {
  font-size: 26px;
  font-weight: 900;

  opacity: 0;
  transform: translateY(-70px);

  animation: appearanceHeader 0.6s ease-in-out forwards;
}
.logo span {
  color: #ff0001;

  opacity: 0;

  animation: appearanceHeader 0.6s ease-in-out 0.9s forwards;
}
.nav ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  text-align: center;
}
.nav ul li {
  color: #000000;
  font-weight: 500;
  font-size: 18px;
  font-style: normal;

  opacity: 0;
  transform: translateY(-70px);

  animation: appearanceHeader 0.6s ease-in-out forwards;
}
.nav ul li:nth-child(1) {
  animation-delay: 0.7s;
}
.nav ul li:nth-child(2) {
  animation-delay: 0.8s;
}
.nav ul li:nth-child(3) {
  animation-delay: 0.9s;
}
.nav ul li:nth-child(4) {
  animation-delay: 1s;
}

.search input {
  padding: 10px 0px 9px 36px;
  border-radius: 15px;
  background-color: #fff;

  background-image: url(../img/icons/search.png);
  background-repeat: no-repeat;
  background-position: 10px 10px;

  font-size: 18px;
  color: #000000;

  opacity: 0;
  transform: translateY(-70px);

  animation: appearanceHeader 0.6s ease-in-out 0.8s forwards;
}
.search img {
  position: absolute;
  top: 18px;
  right: 46.7em;
}
@keyframes appearanceHeader {
  60% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.tagline {
  margin-top: 87px;
}
.tagline-title {
  font-weight: bold;
  font-size: 52px;
  line-height: 65px;
  width: 530px;
}
.tagline-title span {
  /* opacity: 0; */

  animation: appearanceTaglineTitle 0.8s ease-in-out forwards;
}
.tagline-title span:nth-child(1) {
  animation-delay: 1s;
}
.tagline-title span:nth-child(2) {
  color: #e50001;
  animation-delay: 1.5s;
}
.tagline-title span:nth-child(3) {
  animation-delay: 1.6s;
}

@keyframes appearanceTaglineTitle {
  100% {
    opacity: 1;
  }
}

.tagline-subtitle {
  font-weight: normal;
  font-size: 24px;
  font-style: italic;
  line-height: 30px;
  color: #e50001;
  margin-top: 19px;
}
.btn {
  margin-top: 28px;
}
.start {
  padding: 11px 41px;
  background: #e50001;
  border-radius: 15px;
  border: 0;
  color: #f3f2ff;
  font-size: 24px;
  line-height: 28px;
  margin-right: 30px;
  cursor: pointer;
}
.loginIn {
  border: 2px solid #e50001;
  background-color: #fff0;
  border-radius: 15px;
  color: #e50001;
  font-size: 26px;
  line-height: 30px;
  padding: 8px 42px;
  cursor: pointer;
}

.firstRecipe {
  margin: 96px 0 0 190px;
}
.recipe {
  background-color: #f3f2ff;
  box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  width: 285px;
  height: 200px;
}
.dishName {
  display: grid;
  grid-template-columns: 0.7fr 1fr;
  align-items: center;
  padding-top: 9px;
}
.dishName img {
  margin: 0 auto;
}
.title-recipe {
  padding-left: 13px;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
}
.ingredients {
  padding: 16px 0 20px 0;
  margin: 0 auto;
  width: 235px;
  font-size: 20px;
  line-height: 23px;
  color: #85a1ad;
}
/* second page */
.sections {
  margin-top: 35px;
}
.sections-nav {
  font-size: 18px;
  line-height: 21px;
}
.sections-nav::after {
  content: "";
  width: 1030px;
  height: 4px;
  background-color: #85a1ad;
  position: absolute;
  border-radius: 15px;
  transform: translateX(4px) translateY(11px);
}
.sections-nav ul {
  display: grid;
  grid-template-columns: repeat(8, 130px);
  text-align: center;
}
.sections-nav li {
  cursor: pointer;

  opacity: 0;
  transform: translateX(-30%);

  animation: appearanceSectionNav 0.8s ease-in-out forwards;
}
.sections-nav ul li:nth-child(2) {
  animation-delay: 0.2s;
}
.sections-nav ul li:nth-child(3) {
  animation-delay: 0.4s;
}
.sections-nav ul li:nth-child(4) {
  animation-delay: 0.6s;
}
.sections-nav ul li:nth-child(5) {
  animation-delay: 0.8s;
}
.sections-nav ul li:nth-child(6) {
  animation-delay: 1s;
}
.sections-nav ul li:nth-child(7) {
  animation-delay: 1.2s;
}
.sections-nav ul li:nth-child(8) {
  animation-delay: 1.4s;
}
@keyframes appearanceSectionNav {
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

.dishes {
  margin-top: 107px;
}
.dishes-items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 308px 308px;
}
.dishe-item {
  margin: 0 30px 71px 0;
  background: #f3f2ff;
  border-radius: 15px;
  width: 350px;
  height: 0px;
  box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.25);

  opacity: 0;
  transform: translateX(-10px) translateY(-10px);

  animation: appearanceDish 0.8s ease-in-out forwards;
}
.dishe-item:nth-child(2) {
  animation-delay: 0.2s;
}
.dishe-item:nth-child(3) {
  animation-delay: 0.4s;
}
.dishe-item:nth-child(4) {
  animation-delay: 0.6s;
}
.dishe-item:nth-child(5) {
  animation-delay: 0.8s;
}
.dishe-item:nth-child(6) {
  animation-delay: 1s;
}

@keyframes appearanceDish {
  100% {
    opacity: 1;
    transform: translateX(0px) translateY(0px);
    height: 237px;
  }
}

.dishe-item.active {
  height: 237px;

  animation: removingDish 0.8s ease-in-out forwards,
    moveDish 0.8s ease-in-out 0.7s forwards;
}
@keyframes moveDish {
  0% {
    grid-row: 1/1;
  }
  100% {
    grid-row: 1/1;
    opacity: 1;
    visibility: visible;
  }
}

.dishe-item.inactive {
  height: 237px;

  animation: removingDish 0.8s ease-in-out forwards;
}
@keyframes removingDish {
  0% {
    opacity: 1;
    visibility: visible;
    transform: translateX(0px) translateY(0px);
  }
  100% {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-10px) translateY(-10px);
  }
}

.dishe-logo {
  position: absolute;
  width: 125px;
  height: 125px;
  margin: 0 auto;
  transform: translateY(-107px) translateX(109px) scale(0);

  animation: appearanceDishLogo 0.8s ease-in-out forwards;
}
.dishe-item:nth-child(2) .dishe-logo {
  animation-delay: 0.2s;
}
.dishe-item:nth-child(3) .dishe-logo {
  animation-delay: 0.4s;
}
.dishe-item:nth-child(4) .dishe-logo {
  animation-delay: 0.6s;
}
.dishe-item:nth-child(5) .dishe-logo {
  animation-delay: 0.8s;
}
.dishe-item:nth-child(6) .dishe-logo {
  animation-delay: 1s;
}

.dishe-logo img {
  width: 125px;
  height: 122px;
}
@keyframes appearanceDishLogo {
  100% {
    transform: translateY(-107px) translateX(109px) scale(1);
  }
}

.name {
  margin-top: 61.58px;
  text-align: center;
  font-weight: bold;
  font-size: 38px;
  line-height: 27px;
  text-transform: uppercase;
}

.name div {
  font-size: 16px;
  height: 27px;
}
.name div.lng {
  font-size: 12px;
}
.someInform {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1.1fr 1fr;
  grid-template-rows: 1fr 1fr;
  text-align: center;
}
.someInform::before {
  content: " ";
  position: absolute;
  width: 325px;
  height: 2px;
  background-color: #85a1ad;
  border-radius: 15px;
  transform: translateY(41px) translateX(14px);
}
.kcalPerGram {
  font-size: 18px;
  line-height: 21px;
  color: #85a1ad;
  grid-column-start: 2;
  margin-bottom: 53px;
}
.kcalPerGram::before {
  content: " ";
  position: absolute;
  width: 18px;
  height: 30px;
  background-image: url(../img/icons/energy.png);
  background-repeat: no-repeat;
  transform: translateX(-22px) translateY(-8px);
}
.cookingTime {
  grid-column-start: 1;
  padding-left: 27px;
  font-size: 12px;
  line-height: 14px;
  color: #85a1ad;
}
.cookingTime::before {
  content: " ";
  position: absolute;
  width: 27px;
  height: 27px;
  background-image: url(../img/icons/time.png);
  background-repeat: no-repeat;
  transform: translateX(-28px) translateY(-6px);
}
.portions {
  grid-column-start: 3;
  font-size: 12px;
  line-height: 14px;
  color: #85a1ad;
}
.portions::before {
  content: " ";
  position: absolute;
  width: 32px;
  height: 25px;
  background-image: url(../img/icons/portions.png);
  background-repeat: no-repeat;
  transform: translateX(-34px) translateY(-5px);
}

/* login in */
.loginForm {
  margin-top: 60px;
}
.loginForm__inner {
  background-image: url(../img/background/logIn.jpg);
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 25px;
  min-height: 700px;
  min-width: 1200px;
  transform: translateX(-44px);
}
.loginForm-title {
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
  color: #f3f2ff;
  text-align: center;
  padding-top: 64px;
  text-transform: uppercase;
}
.dataUser {
  display: grid;
  grid-gap: 35px;
  grid-template-columns: 475px;
  justify-items: center;
  justify-content: center;
  margin-top: 49px;
}
.email,
.login,
.password {
  background: #f3f2ff;
  border-radius: 15px;
  padding: 15px 202px 15px 30px;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.05em;
  color: #85a1ad;
  text-transform: uppercase;
}
.manipnData {
  margin-top: 20px;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #f3f2ff;
  display: grid;
  grid-template-columns: 222px 180px;
  grid-gap: 87px;
  justify-content: center;
  justify-items: center;
  align-items: center;
  letter-spacing: 0.05em;
}
.remember {
  display: flex;
  align-items: center;
}
.rememberUser {
  margin-right: 16px;
  width: 40px;
  height: 40px;
}
.rememberUser {
  background-image: url(../img/icons/check.png);
  background-position: center;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  background-color: #e50001;
  border: 1px solid #e50001;
  border-radius: 10px;
  appearance: none;
  outline: none;
}

.rememberUser:checked {
  border: 1px solid #f3f2ff;
  background-color: #f3f2ff;
}
.reg,
.enter {
  margin-top: 35px;
  text-align: center;
}

.enter-btn {
  background: #e50001;
  border-radius: 15px;
  color: #f3f2ff;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.05em;
  padding: 14px 183px;
}
.logIn,
.register {
  margin-top: 26px;
  text-align: center;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #f3f2ff;
}
.logIn a,
.register a {
  color: #f3f2ff;
}
.logIn span,
.register span {
  padding-right: 26px;
}
.anotherLogin {
  margin-top: 29px;
  text-align: center;
}
.anotherLogin-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #f3f2ff;
}
.anotherLogin-title::after {
  content: "";
  position: absolute;
  width: 225px;
  border-radius: 15px;
  height: 3px;
  background-color: #f3f2ff;
  transform: translateY(9px) translateX(9px);
}
.anotherLogin-title::before {
  content: "";
  position: absolute;
  width: 225px;
  border-radius: 15px;
  height: 3px;
  background-color: #f3f2ff;
  transform: translateY(9px) translateX(-233px);
}
.optionsLogin {
  display: grid;
  grid-template-columns: 65px 65px 65px;
  grid-gap: 30px;
  justify-content: center;
  margin: 24px 0 52px 0;
}
.twitter,
.facebook,
.google {
  width: 65px;
  height: 65px;
}
/* registration */
.registrationForm {
  margin-top: 60px;
}
.registrationForm__inner {
  background-image: url(../img/background/reg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 25px;
  min-height: 700px;
  min-width: 1200px;
  transform: translateX(-44px);
}
.reg-btn {
  background: #e50001;
  border-radius: 15px;
  color: #f3f2ff;
  font-size: 30px;
  line-height: 35px;
  letter-spacing: 0.05em;
  padding: 14px 83px;
}

/* office user */
.office {
  margin-top: 60px;
}
.office__inner {
  display: grid;
  grid-template-columns: 220px 570px 65px;
  grid-gap: 63px;
  justify-content: center;
  padding-top: 65px;
  background: #f3f2ff;
  box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  min-height: 535px;
  min-width: 1110px;
}
.avatar {
  width: 220px;
  height: 220px;
  background-color: #85a1ad;
  border-radius: 25px;
  text-align: center;
  margin-bottom: 15px;

  animation: appearanceUserInform 0.8s ease-in-out;
}
.avatar img {
  margin-top: 42px;
}
.myRecipes {
  opacity: 0;

  width: 220px;
  height: 220px;
  background-image: url("../img/background/recipes.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  text-align: center;

  animation: appearanceUserInform 0.8s ease-in-out 0.55s forwards;
}
.myRecipes a {
  display: block;
  padding-top: 68px;

  font-weight: 300;
  font-size: 36px;
  line-height: 42px;
  color: #ffffff;
}
.information {
  margin-top: 10px;
  display: grid;
  grid-template-rows: 58px 58px 105px 295px;
  grid-template-columns: 285px 285px;
}
.nameUser {
  grid-column: 1/3;
  font-weight: bold;
  font-size: 52px;
  color: #000000;

  animation: appearanceUserInform 0.8s ease-in-out forwards;
}
.classification {
  opacity: 0;

  grid-column: 1/3;
  grid-row: 2;
  font-size: 40px;
  font-weight: 300;
  line-height: 59px;
  color: #85a1ad;

  animation: appearanceUserInform 0.8s ease-in-out 0.2s forwards;
}
.addResipt {
  opacity: 0;

  grid-row: 3;
  margin-top: 15px;

  animation: appearanceUserInform 0.8s ease-in-out 0.4s forwards;
}
.addResipt button {
  padding: 18px 15px 18px 61px;
  background: #e50001;
  border-radius: 15px;
  font-size: 25px;
  line-height: 29px;
  color: #ffffff;
  background-image: url(../img/icons/plus.png);
  background-repeat: no-repeat;
  background-position: 10px 12px;
}

.appraisals {
  opacity: 0;

  justify-self: end;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: end;
  width: 255px;
  height: 65px;
  background: #85a1ad;
  border-radius: 15px;
  font-size: 35px;
  line-height: 41px;
  color: #ffffff;
  margin-top: 15px;

  animation: appearanceUserInform 0.8s ease-in-out 0.5s forwards;
}
.likes {
  margin-right: 14px;
}
.likes::before {
  content: " ";
  position: absolute;
  width: 40px;
  height: 40px;
  background-image: url(../img/icons/like.png);
  background-repeat: no-repeat;
  transform: translateX(-48px) translateY(-2px);
}
.dislikes {
  margin-right: 44px;
}
.dislikes::before {
  content: " ";
  position: absolute;
  width: 40px;
  height: 40px;
  background-image: url(../img/icons/dislike.png);
  background-repeat: no-repeat;
  transform: translateX(-52px) translateY(1px);
}
.aboutUser {
  opacity: 0;

  grid-column: 1 / 3;
  height: 186px;
  padding: 20px 20px 26px 20px;
  border: 3px solid #85a1ad;
  border-radius: 20px;

  animation: appearanceUserInform 0.8s ease-in-out 0.8s forwards;
}
.aboutUser-title {
  color: #85a1ad;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 16px;
}
.aboutUser-inform {
  color: #000000;
  font-weight: 300;
  font-size: 18px;
  line-height: 20px;
  width: 530px;
}

@keyframes appearanceUserInform {
  0% {
    opacity: 0;
    transform: translateY(-30%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

.changeProfile {
  position: absolute;
  transform: translateY(499px) translateX(380px);
}
.changeProfile button {
  background: #e50001;
  border-radius: 15px;
  padding: 15px 74px 15px 74px;
  font-size: 36px;
  line-height: 42px;
  color: #ffffff;
}
.additional img:nth-child(1) {
  opacity: 0;

  width: 65px;
  height: 60px;
  margin-bottom: 77px;

  animation: appearanceUserInform 0.8s ease-in-out 0.2s forwards;
}
.additional img:nth-child(2) {
  opacity: 0;

  width: 65px;
  height: 65px;

  animation: appearanceUserInform 0.8s ease-in-out 0.4s forwards;
}

/* recipes */
.cookInformation {
  font-weight: 300;
  font-size: 18px;
  line-height: 23px;
}
.cookInformation__inner {
  margin-top: 35px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.foodInformation {
  width: 730px;
}
.cookInformation b {
  font-weight: 700;
}
.descriptionFood {
  margin-bottom: 33px;
}
.descriptionFood p:nth-child(1n) {
  margin-bottom: 33px;
}
.descriptionFood p:last-child {
  margin-bottom: 0;
}
.listIngredients {
  margin-bottom: 29px;
}
.cooking {
  width: 665px;
}
.cooking b {
  display: inline-block;
  margin-bottom: 33px;
}
.cooking p:nth-child(1n) {
  margin-bottom: 30px;
}
.coking p:last-child {
  margin-bottom: 0;
}
.foodImages img:nth-child(1n) {
  margin-bottom: 34px;
}
.foodImages img:nth-child(1) {
  margin-bottom: 290px;
}
.doneBiscuit {
  margin-top: 33px;
}
.doneBiscuit img:nth-child(1) {
  margin-bottom: 163px;
}
.foodImagesBiscuit img:nth-child(1n) {
  margin-bottom: 63.4px;
}
.doneSoup img:nth-child(1) {
  margin-bottom: 40px;
}
.foodImagesSoup img:nth-child(1n) {
  margin-bottom: 33.4px;
}
.foodImagesPaste img:nth-child(1n) {
  margin-bottom: 30px;
}
